body {
  margin: 0;
  background: radial-gradient(circle at top, #1a001f, #000);
  color: white;
  font-family: sans-serif;
  overflow: hidden;
}

.hidden { display: none; }

/* START */
#startScreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#startText {
  font-size: clamp(18px,5vw,26px);
  text-align: center;
}

/* TAP */
#tapArea {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
}

/* GIFT */
#giftBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
}

.gift {
  width: 120px;
  height: 120px;
  position: relative;
}

.box {
  width: 100%;
  height: 100%;
  background: #ff4d6d;
  border-radius: 10px;
}

.lid {
  position: absolute;
  top: -30px;
  width: 100%;
  height: 40px;
  background: #ff758f;
  border-radius: 10px;
  transform-origin: bottom;
  transition: 0.6s;
}

.gift.open .lid {
  transform: rotate(-120deg);
}

/* MAIN */
#main {
  opacity: 0;
  transition: 1s;
}

#main.show {
  opacity: 1;
}

/* SLIDER */
.slider {
  height: 70vh;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 1s;
}

.slide.active {
  opacity: 1;
}

/* QUOTE */
#quoteBox {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: clamp(16px,4vw,22px);
  text-shadow: 0 0 20px pink;
}

/* HEARTS */
.heart {
  position: fixed;
  bottom: 0;
  animation: floatUp 4s linear forwards;
}

@keyframes floatUp {
  from {transform: translateY(0); opacity:1;}
  to {transform: translateY(-100vh); opacity:0;}
}

/* FIREWORK */
#fireworks {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* FADE */
#fadeScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: 2s;
}

#fadeScreen.show {
  opacity: 1;
}

/* FINAL */
#finalMessage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 26px;
  text-align: center;
  opacity: 0;
  transition: 1s;
  z-index: 200;
}

#finalMessage.show {
  opacity: 1;
}

/* BEAT */
@keyframes pulse {
  50% { transform: scale(1.05); }
}

.beat {
  animation: pulse 0.5s;
}
