body {
  margin:0;
  background:black;
  color:white;
  overflow:hidden;
}

.hidden{display:none;}

#startScreen{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

#startText{
  font-size:24px;
}

/* 🎁 GIFT */
#giftBox{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.gift{
  position:relative;
  width:140px;
  height:140px;
}

/* BOX BODY */
.box{
  width:100%;
  height:100%;
  background:#e60023;
  border-radius:10px;
  position:absolute;
  bottom:0;
}

/* LID */
.lid{
  width:100%;
  height:40px;
  background:#b8001c;
  position:absolute;
  top:-35px;
  border-radius:6px;
  transform-origin:bottom;
  transition:1s;
}

/* RIBBONS */
.ribbon-vertical{
  width:20px;
  height:100%;
  background:gold;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  transition:1s;
}

.ribbon-horizontal{
  height:20px;
  width:100%;
  background:gold;
  position:absolute;
  top:40%;
  transition:1s;
}

/* OPEN ANIMATION */
.gift.open .lid{
  transform:rotateX(120deg);
}

.gift.open .ribbon-vertical{
  transform:translateX(-50%) scaleY(0);
}

.gift.open .ribbon-horizontal{
  transform:scaleX(0);
}

/* SLIDER */
.slider{
  height:70vh;
  position:relative;
}

.slide{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:0;
  transition:1s;
}

.slide.active{opacity:1;}

/* ✍️ QUOTE */
#quoteBox{
  position:absolute;
  bottom:0;
  width:100%;
  padding:20px;
  font-size:26px;
  text-align:center;
  font-family:'Pacifico',cursive;
  font-weight:bold;
  background:linear-gradient(transparent,rgba(0,0,0,0.8));
}

/* HEART */
.heart{
  position:fixed;
  bottom:0;
  animation:float 4s linear;
}
@keyframes float{
  to{transform:translateY(-100vh);opacity:0;}
}

/* FIREWORK */
#fireworks{
  position:fixed;
  width:100%;
  height:100%;
  pointer-events:none;
}

/* FADE */
#fadeScreen{
  position:fixed;
  width:100%;
  height:100%;
  background:black;
  opacity:0;
  transition:2s;
}
#fadeScreen.show{opacity:1;}
